@{
    Layout = null;
}
<div class="">
    <footer class="footer">
        2017 - @DateTime.Now.Year &copy; Coffee Shop 5 Star.
        @*<a href="javascript:void(0)">admin@gmail.com</a>*@
    </footer>
</div>