@{
    Layout = null;
}

<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Coffee Shop Management</li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-product-hunt"></i><span class="hide-menu">Inventory @*<span class="label label-rouded label-primary pull-right">3</span>*@</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Categories </a></li>
                        <li><a href="index1.html">Products </a></li>
                        <li><a href="index2.html">Discount </a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Order Management</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="chart-flot.html">TableMap</a></li>
                        <li><a href="chart-flot.html">Orders</a></li>
                        <li><a href="chart-flot.html">Receipts</a></li>
                    </ul>

                </li>
                <li> <a href="app-profile.html" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Employees</span></a></li>
                <li> <a href="app-profile.html" aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu">Infor &amp; setting</span></a></li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->
